<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<a href="{{ "/s4vinotes" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">S4vinotes</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>
<a href="{{ "/CTF" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">CTF</h2></a>
